<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Continuum Accordion</title>
    <meta charset="utf-8" />
    <style>
      body {
        background: #fafafa;
      }

      #demo button {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <div id="demo" role="main" style="margin: 0 auto; max-width: 65vw;">
      <h1>Continuum Accordion</h1>
      <continuum-accordion open="true">
        <h2>First accordion heading</h2>
        <p>
          There will be a plethora of pizzas including pepperoni, beef,
          Hawaiian, Supreme, Roma, and vegetarian.
        </p>
      </continuum-accordion>

      <continuum-accordion>
        <h2>Second accordion heading</h2>
        <p>
          We are having barbeque chicken, potato salad, chips, and a variety of
          sodas for dinner.
        </p>
      </continuum-accordion>
    </div>

    <script type="module" src="../continuum-accordion.js"></script>
  </body>
</html>
